body{
    background-image: url(teamaction.jpeg);
    background-size: cover;
    margin: 50pt;
}
h1{color: white;
}

h3{color: white;
   text-align: center;
}

h4{color: white;
}

h5{color: white;
}
   
.LoginBox{
    border-color: white;
    border-style: solid; 
    height: 200px;   
    width:  500px;  
    padding: 20pt;
    margin: 250px;
    border-radius: none;

                             
} 


header{
    text-align: center;
}

.LoginBox button[type="submit"]
{
    border: none;
    outline: none;
    width: 200px;
    height: 20px;
    background: rgb(189, 89, 52);
    font-size: 14px;
    border-radius: ;
}

LoginBox button[type="submit"] :hover
{
cursor: pointer;
background: purple;
color: aqua;
}

.remember-me{
color: white;
margin: 5px;
}

.noop{
    margin:40px; 
    text-decoration-style: solid;
    text-emphasis-position: 10px;
}