.brand {
  font-size: 1.2em;
  text-align: center;
  display: inline;
}

.brand .bold {
  background: #000000;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: bold;
  padding: 5px 10px;
}

.db_nav {
  min-height: 50px;
  background-color: lighten($color: #000000, $amount: 80);
  box-shadow: 0px 5px 3px lighten($color: #000000, $amount: 70);
}

.db_logout {
  position: relative;
  bottom: 5px;

  button {
    font-size: 14px;
    cursor: pointer;
  }
}

.wm_user {
  font-size: 14px;
}

#db_sidebar {
  background-color: darken($color: whitesmoke, $amount: 80);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 35ch;
  left: -35ch;
  margin: 5ch 2ch 5ch 0ch;
  position: relative;
  width: 35ch;
  transition: all 0.3s linear;

  &.active {
    left: 0ch;
  }

  .togglebtn {
    color: white;
    background-color: darken($color: whitesmoke, $amount: 80);
    padding: 2ch 2ch 2ch 4ch;
    position: absolute;
    top: 40%;
    right: -8%;
    border-radius: 100px;

    i {
      position: relative;
      left: 5px;
      font-size: 1.5em;
    }
  }
}

.db_main {
  //   margin: 1ch;
}
